div {
  background-color: antiquewhite;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  transition: ease-in-out 0.9s;
}

#task {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
